@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: radial-gradient(circle at top, #ffffff 0%, #fff3d6 50%, #ffd6a0 100%);
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: radial-gradient(circle at top, #1a1a1a 0%, #1a1810 50%, #1a1613 100%);
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  min-height: 100vh;
}